{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Share it{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    {% block style %} {% endblock %}
  </head>

  <body class="d-flex flex-column" >
    <header>
      <h1 class="logo"><a href="/">Share It</a></h1>
      <div class="search">
        <form action="{% url 'search-items' %}" method="get">
          <input
            type="text"
            name="search-query"
            class="search-bar"
            placeholder="Faites votre recherche"
          />
          <button type="submit" class="btn-search">Chercher</button>
        </form>
      </div>

      <div class="menu">
        <a class="btn btn-light text-dark" href="/">Home</a>

        {% if user.is_authenticated %}
        <a class="btn btn-light text-dark" href="/create">Poster une annonce</a>
        <a class="btn btn-light text-dark" href="/chats">Chat</a>
        <a class="btn btn-danger" href="/logout">Deconnexion</a>
        {% else %}
        <a class="btn btn-success" href="/login">Connexion</a>
        {% endif %}
      </div>
    </header>

    <div class="d-flex flex-row ">
      <section id="side-menu" style="min-width: 10%">
        {% block sidemenu %}{% endblock sidemenu %}
      </section>
      <section id="content" name="content" style="min-width: 80%; min-height: 82vh">
        {% block content%} {% endblock %}
      </section>
    </div>
    <div class="h-5/6 w-4/6 bg-red-500">
        suidfhausdfhiuasd
    </div>
    <footer>
      <p class="footer-links">
        <a href="#">{{user.username}}</a>
        <span> | </span>
        <a href="#">Contact</a>
      </p>
      <p>Share it &copy; 2023</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>