@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");


.item-type {
  position: absolute;
  top: 8px;
  left: 8px;
}

.sidemenu {
  text-decoration: none;
  color: #292c2f;
}

.sidemenu:hover {
  color: #00aaff;
}

.sidemenu:hover a {
  color: #00aaff;
}