{% extends "base.html" %} 
{% block content %}

<div class="my-3 d-flex flex-column mx-auto" style="width:70%;">
<h2 class="text-center font-semibold mb-4">Discussions</h2>
{% for chat in chats.all  %}
<div class="card mb-3 mx-auto position-relative" style="max-width: 540px;">
    <form action="{% url 'delete-chat' chat.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="position-absolute top-0 start-100 translate-middle btn btn-danger btn-sm py-0 px-1 ">x</button>
    </form>
    <a href="/chats/{{chat.id}}" class="text-decoration-none text-body">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/images/{{chat.item.image}}" class="img-fluid rounded-start" alt="{{chat.item.name}}">
            </div>
            <div class="col-md-8">
                <div class="card-body ">
                    <h5 class="card-title">{{chat.item.name}}</h5>
                    <p class="card-text">
                        {% for participant in chat.participants.all %}
                        {% if request.user != participant %}
                            {{participant}}
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </a>
</div>

{% endfor %}
</div>
{% endblock content %}