{% extends "base.html" %} 

{% block title%} {{item.name}} {%endblock%} 

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content%} 

        <div class="index">
            <p>{{item.type}}</p>
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>
            <p>{{item.location}}</p>
            <p>{{item.state}}</p>
            <p>{{item.category}}</p>
            <p>{{item.user}}</p>
            <p>{{item.image}}</p>
            <img src="images/{{item.image}}" alt="{{item.name}}">
        </div>


{%endblock%}
